<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="contenedor" >
        <div id="cabecera">
            <div id="afiliados">
                <img src="~/Content/afiliados.jpg"><img />
            </div>

            <div id="buscador">
                <form action="#" method="post">
                    Buscar &nbsp;
                    <input name="busqueda" type="text" />
                </form>
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="menu">
            <ul id="menu_principal" class="borderTop">
                <li> <a href="/">Home</a> </li>
                <li>
                    <a href="@Url.Action("Index", "Afiliados")">Afiliados</a>
                </li>
            </ul>
        </div>
        <div id="contenido" class="borderTop">
            <div id="principal">
                @RenderBody()
            </div>
            <br></br>
            <br></br>
        </div>
   
        <div id="pie">
            <p>Lastra Julian LPPA - 2021</p>
        </div>

    </div>
</body>
</html>